node_modules
.cache
.tmp
dist
build
.git
.env
.env.*
!.env.example
*.md
!README.md
.editorconfig
.eslintrc
.prettierrc
Dockerfile
docker-compose*.yml
.dockerignore
.gitignore
.strapi-updater.json
data
*.lpk
lzc-*
